<template>
  <div class="has-navbar-fixed-top">
    <header>
      <nav
        class="navbar is-fixed-top is-transparent"
        role="navigation"
        aria-label="main navigation">
        <div class="navbar-brand">
          <a
            class="navbar-item"
            href="/">
            <img
              src="~assets/images/logo-192.png"
              alt="BPederencino"
              height="192">
          </a>

          <div class="navbar-burger">
            <span/>
            <span/>
            <span/>
          </div>
        </div>

        <div class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <nuxt-link
                :to="{name: ''}">
                Projets
              </nuxt-link>
            </div>
            <div class="navbar-item">
              <nuxt-link
                :to="{name: ''}">
                Compétences
              </nuxt-link>
            </div>
            <div class="navbar-item">
              <nuxt-link
                :to="{name: ''}">
                À propos
              </nuxt-link>
            </div>
            <div class="navbar-item">
              <nuxt-link
                :to="{name: ''}">
                Contact
              </nuxt-link>
            </div>
            <div class="navbar-item">
              <nuxt-link
                :to="{name: ''}">
                <button class="button is-uppercase">Hire Me</button>
              </nuxt-link>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <nuxt />

    <footer class="footer">
      <div class="content has-text-centered">
        <p>Copyright</p>
      </div>
    </footer>

  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        { title: 'Home', icon: 'home', to: { name: 'index' } },
        { title: 'Inspire', icon: 'lightbulb', to: { name: 'inspire' } }
      ]
    }
  }
}
</script>

<style src="./default.scss" lang="scss">
</style>
