// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// Color Default Settings
$ultraviolet: #5f4b8b;
$citrus: #fcb239;
$raspberry: #d74061;
$oriole: #f37a29;

// Set your colors
$primary: $ultraviolet;
$accent: #3dae8c; // #5cceac;
$accent-invert: $white;
$info: $cyan;
$success: $green;
$warning: $yellow;
$danger: $red;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  'white': (
    $white,
    $black
  ),
  'black': (
    $black,
    $white
  ),
  'light': (
    $light,
    $light-invert
  ),
  'dark': (
    $dark,
    $dark-invert
  ),
  'primary': (
    $primary,
    $primary-invert
  ),
  'accent': (
    $accent,
    $accent-invert
  ),
  'info': (
    $info,
    $info-invert
  ),
  'success': (
    $success,
    $success-invert
  ),
  'warning': (
    $warning,
    $warning-invert
  ),
  'danger': (
    $danger,
    $danger-invert
  )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Font-Family Default Settings
@font-face {
  /* Main font */
  font-family: 'Open Sans';
  src: url(~assets/fonts/OpenSans-Regular.ttf);
}
@font-face {
  /* Title font */
  font-family: 'Raleway';
  src: url(~assets/fonts/Raleway-Regular.ttf);
}
@font-face {
  /* Code font */
  font-family: 'Roboto Mono';
  src: url(~assets/fonts/RobotoMono-Regular.ttf);
}
$family-sans-serif: 'Open Sans', BlinkMacSystemFont, -apple-system, 'Segoe UI',
  'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$family-primary: 'Raleway', 'Open Sans', BlinkMacSystemFont, -apple-system,
  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$family-secondary: $family-sans-serif;
$body-family: $family-secondary;
$family-code: 'Roboto Mono', $family-monospace;
.is-family-primary {
  font-family: $family-primary;
}

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';

.is-transparent {
  background-color: transparent;
}
.navbar-item a {
  color: white;
}
.navbar-item img {
  max-height: 3.75rem;
}
