<template>
  <main class="main-content">

    <section class="hero is-primary is-fullheight">
      <div class="hero-body">
        <div class="container">
          <p class="subtitle is-4">Bonjour</p>
          <p class="title is-1">Je suis Bastien</p>
          <p class="subtitle is-2">Développeur Front-End</p>
          <button class="button is-rounded is-medium is-accent">Proposez-moi un stage</button>
        </div>
      </div>
    </section>

    <div class="container">

      <div class="tile is-ancestor section">
        <div class="tile is-12 is-parent annoncement">
          <div class="tile is-12 box annoncement">
            <div class="tile is-4 is-child">
              <h2 class="title is-3">En recherche de stage</h2>
            </div>
            <div class="tile is-4 is-child">
              <p>
                Souhaitez-vous que l'on travaille ensemble ? Je cherche actuellement un nouveau projet pour un stage de quatre mois, à partir du 15 avril 2019. Dîtes m'en plus sur votre entreprise ou projet et essayons de construire quelque chose de grand ensemble.
              </p>
            </div>
            <div class="tile is-4 is-child">
              <button class="button is-accent is-medium is-rounded">C'est parti !</button>
            </div>
          </div>
        </div>
      </div>

      <div class="tile is-ancestor section">
        <div class="tile is-3 is-parent">
          <div class="tile is-child">
            <h2 class="title is-3">Projets</h2>
            <p>
              Few examples of my work:
            </p>
          </div>
        </div>

        <div class="tile is-3 is-parent">
          <div class="tile is-child">

            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img
                    src="~assets/images/portfolio.png"
                    alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">Ce portefolio</p>
                  </div>
                </div>

                <div class="content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a>@bulmaio</a>.
                  </p>
                  <span class="tag code">Nuxt</span>
                  <span class="tag code">Vue.js</span>
                  <span class="tag code">Buefy</span>
                  <span class="tag code">Bulma</span>
                  <span class="tag code">Sass</span>
                  <span class="tag soft">SSR</span>
                </div>
              </div>
              <footer class="card-footer">
                <a
                  href="https://gitlab.com/bpederencino/bpederencino.gitlab.io"
                  target="_blank"
                  class="card-footer-item">Accéder au code source</a>
              </footer>
            </div>

          </div>
        </div>

        <div class="tile is-3 is-parent">
          <div class="tile is-child">

            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img
                    src="~assets/images/ageti.jpg"
                    alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">Site vitrine d'Ageti</p>
                  </div>
                </div>

                <div class="content">
                  <p>
                    Projet réalisé en tant que consultant web chez
                    <a
                      href="https://jeece.fr"
                      target="_blank">JEECE</a>, la Junior-entreprise de l'ECE.
                  </p>
                  <span class="tag soft">WordPress</span>
                  <span class="tag soft">Design UI</span>
                  <span class="tag code">CSS</span>
                </div>
              </div>
              <footer class="card-footer">
                <a
                  href="http://ageti.fr/"
                  target="_blank"
                  class="card-footer-item">Voir ce site</a>
              </footer>
            </div>

          </div>
        </div>

        <div class="tile is-3 is-parent">
          <div class="tile is-child">

            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img
                    src="https://bulma.io/images/placeholders/1280x960.png"
                    alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">Progressive Web App</p>
                  </div>
                </div>

                <div class="content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a>@bulmaio</a>.
                  </p>
                  <span class="tag soft">PWA</span>
                  <span class="tag code">Vue.js</span>
                  <span class="tag code">Node.js</span>
                </div>
              </div>
              <footer class="card-footer">
                <a
                  href="#"
                  class="card-footer-item">Preview</a>
                <a
                  href="#"
                  class="card-footer-item">Source code</a>
              </footer>
            </div>

          </div>
        </div>
      </div>

      <div class="tile is-ancestor section">
        <div class="tile is-6 is-parent">
          <div class="tile is-child">
            <h2 class="title is-3">Compétences</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <div class="tile is-6 is-parent">
          <div class="tile is-child box skills">
            <h2 class="title is-3">Development</h2>
            <p>
              Interested on working together ? I am currently looking for a new adventure so tell me more about your project and let's start to build something great together.
            </p>
            <h3 class="subtitle is-4">Languages</h3>
            <p>test</p>
          </div>
        </div>
      </div>

      <div class="tile is-ancestor section">
        <div class="tile is-12 is-parent">
          <div class="tile is-child about">
            <h2 class="title is-3">À propos</h2>
            <img
              src="~assets/images/bpederencino-round.png"
              alt="Photo of me">
            <p>
              Bonjour, je suis Bastien Pederencino, étudiant en deuxième année de cycle ingénieur à l'ECE en majeure Système d'Information.
              Je suis administrateur dans la Junior-Entreprise de mon école, JEECE, où je suis Responsable Consultants ;
              je suis en charge du recrutement des étudiants qui souhaitent être consultant,
              ainsi que du management et de la formation technique des consultants.
            </p>
            <button class="button is-accent is-rounded">Voir mon CV</button>
          </div>
        </div>
      </div>

      <div class="tile is-ancestor section">
        <div class="tile is-12 is-parent">
          <div class="tile is-child contact">
            <h2 class="title is-3">Contact</h2>
            <button class="button is-accent is-rounded">LinkedIn</button>
            <button class="button is-accent is-rounded">GitLab</button>
            <button class="button is-accent is-rounded">Twitter</button>
          </div>
        </div>
      </div>

    </div>
  </main>
</template>

<script>
import BLogo from '@/components/Logo'

export default {
  name: 'HomePage',
  components: { BLogo },
  data() {
    return {}
  }
}
</script>

<style lang="scss" scoped>
.annoncement {
  align-items: center;
  margin-top: -40px;
  text-align: center;

  .columns div {
    margin: auto;
  }
}
// Classes with .tag
.tag {
  color: white;
  font-weight: bold;
}
.code {
  background: #712e71;
}
.soft {
  background-color: #34495e;
}
.container {
  margin-botton: 42px;
}
.about,
.contact,
.skills {
  text-align: center;
}
</style>
